.flex{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}


.home{
    color: blue;
    font-weight: 900;
}

input[type="text"] {
    border: solid 1px ;
    border-color: blue;
    padding: 10px;
    border-radius: 8px;
    margin-right: 4px;
    display: inline-block;
    width: 50%;
  }

.housingLocation {
    img{
        width: 30%;
        height: 30%;
    }
}