

.result{
    width: 500px;
    height: 20%;
    .listing-photo{
        height: auto;
        width: 100%;
        max-width: 620px;
        min-height: 400px;
        max-height: 400px;
    }

        
}